__pycache__
.vscode
assets
onnx_models/
trt_models/
*.pth
*.engine
*.mp4
build_opencv/
build/
*.pth.tar
Video_Codec_*/
cudnn-*
Python-*/
.venv/
*.tar.xz
Python-*
.venv
python-*/
checkpoints/*.pth
checkpoints/*.pth.tar
 




