[submodule "torch2trt"]
	path = torch2trt
	url = https://github.com/NVIDIA-AI-IOT/torch2trt.git
[submodule "opencv"]
	path = opencv
	url = https://github.com/opencv/opencv.git
[submodule "contrib"]
	path = contrib
	url = https://github.com/opencv/opencv_contrib.git
	branch = master
[submodule "thirdparty/opencv"]
	path = thirdparty/opencv
	url = https://github.com/opencv/opencv.git
[submodule "thirdparty/opencv_contrib"]
	path = thirdparty/opencv_contrib
	url = https://github.com/opencv/opencv_contrib.git
[submodule "thirdparty/torch2trt"]
	path = thirdparty/torch2trt
	url = https://github.com/NVIDIA-AI-IOT/torch2trt.git
[submodule "thirdparty/nv-codec"]
	path = thirdparty/nv-codec
	url = https://git.videolan.org/git/ffmpeg/nv-codec-headers.git
[submodule "thirdparty/ffmpeg"]
	path = thirdparty/ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
[submodule "thirdparty/cupy"]
	path = thirdparty/cupy
	url = https://github.com/cupy/cupy.git
[submodule "thirdparty/PyAV"]
	path = thirdparty/PyAV
	url = https://github.com/PyAV-Org/PyAV.git
[submodule "thirdparty/gstreamer"]
	path = thirdparty/gstreamer
	url = https://gitlab.freedesktop.org/gstreamer/gstreamer.git
